<div class="container">
    <div class="col-md-12 text-center">
        <div id="controls">
            {{# if schema.showTitle}}
                <h1>{{schema.collectionTitle}}</h1>
                <span class="sub-heading">- Dynamic Search -</span>
            {{/if}}
            <form class="filter" onsubmit="return false;" id="filters">
                <div class="input-group">
                    {{#if schema.showButtons}}
                        <input type="text" class="form-control" id="search" placeholder="Search.." />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-secondary" data-toggle="tooltip" title="Sort By Title" data-sort="title:asc"><i class="glyphicon glyphicon-font"></i></button>
                            <button type="button" class="btn btn-secondary" data-toggle="tooltip" title="Sort By Date" data-sort="date:asc"><i class="glyphicon glyphicon-time"></i></button>
                            <button type="button" class="btn btn-secondary" data-toggle="tooltip" title="Random" data-sort="random"><i class="glyphicon glyphicon-random"></i></button>
                        </span>
                    {{else}}
                        <input type="text" class="form-control rounded" id="search" placeholder="Search.." />
                    {{/if}}
                </div>
            </form>
        </div>
        <div class="moveLeft">
            {{#if (isFixedCollage schema.colCount)}}

                <div class="fixedCollage" data-ref="container" id="collage">

                </div>
                <style>
                    .fixedCollage{
                        -webkit-column-count: {{schema.colCount}};
                        -moz-column-count:    {{schema.colCount}};
                        column-count:         {{schema.colCount}};
                    }
                </style>
            {{else}}
                <div class="responsiveCollage" data-ref="container" id="collage">

                </div>
            {{/if}}


            <button type="button" class="btn btn-default clearfix" id="load-more">More..</button>
        </div>
    </div>
</div>