<div class="container">
    <div class="col-md-12 text-center">
        <div id="controls">
            {{# if schema.showTitle}}
                <h1>{{schema.collectionTitle}}</h1>
                <span class="sub-heading">- Dynamic Search -</span>
            {{/if}}
            <form class="filter" onsubmit="return false;" id="filters">
                <input class="form-control" type="text" id="search" placeholder="Search.." />
                {{#if schema.showButtons}}
                    <div class="buttons text-center">
                        <button type="button" class="btn btn-xs text-capitalize" data-sort="title:asc">Sort By Title</button>
                        <button type="button" class="btn btn-xs text-capitalize" data-sort="date:asc">Sort By Date</button>
                        <button type="button" class="btn btn-xs" data-sort="random">Randomize</button>
                    </div>
                {{/if}}
            </form>
        </div>
        <div class="moveLeft">
            {{#if (isFixedCollage schema.colCount)}}

                <div class="fixedCollage" data-ref="container" id="collage">

                </div>
                <style>
                    .fixedCollage{
                        -webkit-column-count: {{schema.colCount}};
                        -moz-column-count:    {{schema.colCount}};
                        column-count:         {{schema.colCount}};
                    }
                </style>
            {{else}}
                <div class="responsiveCollage" data-ref="container" id="collage">

                </div>
            {{/if}}


            <button type="button" class="btn btn-default clearfix" id="load-more">More..</button>
        </div>
    </div>
</div>