<div id="homepage-main">
    <div class="row">
        <div class="col-md-8">
            <h1 class="vibrant">{{truncate object.title 30}}</h1>
            <ul class="darkMuted">
                {{#if object.customFields}}
                    {{#each object.customFields}}
                        <li><strong>{{truncate this.label 20}}: </strong>{{truncate this.ref 50}}</li>
                    {{/each}}
                {{/if}}
                {{#if object.date}}
                    <li><strong>Date: </strong>{{truncate object.date 50}}</li>
                {{/if}}
                {{#if object.url}}
                    <li><strong>Url: </strong><a class="vibrant" href="{{object.url}}" target="_blank">{{truncate object.url 50}}</a></li>
                {{/if}}
            </ul>
        </div>
        <div class="col-md-4 darkMuted">
            {{#if object.thumbnail}}
                <a href="{{object.thumbnail}}" data-lightbox="{{object.title}}" data-title="{{object.title}}"><img src="{{object.thumbnail}}" id="thumbnail" /></a>
            {{else}}
                <img src="/img/no_image.gif" alt="No image" />
            {{/if}}
        </div>
    </div>
    {{#if object.footnote}}
        <div class="row text-center">
            <div class="col-md-12 credit-line clearfix">
                <p><em>{{truncate object.footnote 100}}</em></p>
            </div>
            <a href="/" class="btn btn-default text-center">Get Another</a>
        </div>
    {{/if}}

</div>
