<div class="container">
    <div class="col-md-12 text-center">
        <div id="controls">
            {{# if displayCollectionTitle}}
                <h1>{{title}}</h1>
                <span class="sub-heading">- Dynamic Search -</span>
            {{/if}}
            <form class="filter" onsubmit="return false;">
                <input class="form-control" type="text" id="search" placeholder="Search.." />
                {{#if displayFilterCheckboxes}}
                    <div class="form-group badge-checkboxes">
                        {{#each properties}}
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"  value="{{this}}" checked>
                                    <span class="badge text-capitalize">{{this}}</span>
                                </label>
                            </div>
                        {{/each}}
                    </div>
                {{/if}}
                {{#if displayFilterButtons}}
                    <div class="buttons">
                        <button type="button" class="btn btn-xs" data-sort="random">Randomize</button>
                        {{#each properties}}
                            <button type="button" class="btn btn-xs text-capitalize" data-sort="{{this}}:asc">Sort By {{this}}</button>
                        {{/each}}
                    </div>
                {{/if}}
            </form>
        </div>
        <br>
        <div class="container" data-ref="container" id="collage">

        </div>

        <button type="button" class="btn btn-default clearfix" id="load-more">More..</button>
    </div>
</div>